<div class="card">
    <div class="img-wrapper">
        <img class="propImg card-img-top" src="assets/images/home.jpg">
        <ul class="list-inline text-center">
            <li class="list-inline-item">
                <button class="btn btn-primary">E</button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-primary">C</button>
            </li>
        </ul>
    </div>

    <div class="card-body p-2">
        <h1>{{property_name.Type}}</h1>
        <h1>{{property_name.Price}}</h1>
        <h1>{{property_name.Name}}</h1>
        
    </div>
</div>